html, body {
    height: 625px;
    width: 400px;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    src: url(AtkinsonHyperlegible-Regular.ttf);
}

.buttons {
    position: absolute;
    left: 0;
    width: 400px;
}

.btn {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    transition: all 0.2s;
    background-color: #5EA5FD;
    
    width: 180px;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 15px 0;
    
    border: #A5B6B3;
    border-style: solid;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.btn:hover {
    box-shadow: 1.95px 1.95px 2.6px rgba(95, 116, 112, 0.3);
    
    cursor: pointer;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.row {
    text-align: center;
}

.row_last {
    height: 40px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

